@model IEnumerable<FitLifeGym.Models.Product>

@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h2 class="display-4">Shop</h2>
    <p>This is FitLifeGym. The Best Gym.</p>

    <ul class="row justify-content-center align-items-center">
        @foreach (var item in Model)
        {
            @if (item.Stock > 0)
            {
                <div class="col-lg-4 mt-5 mb-5 product-card">
                    <img src="@item.ImageUrl" alt="@item.Name">
                    <h3>@item.Name</h3>
                    <p>Precio: @item.Price</p>
                </div>
            }
        }
    </ul>
</div>
